/* General Body Styles */
body,
html {
    font-family: 'new-hero', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e1d8c7; /* Off-White Beige as the main background color */
    color: #22281b; /* Dark Greenish for text, provides contrast */
}

.coming-soon-container {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
    font-weight: 700;
}

p {
    color: #555;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    background-color: #444; /* Dark grey button */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #666; /* Lighten the button on hover */
}
